#header {
  text-shadow: 1px 1px 2px #333;
}

#header h1 {
  text-shadow: 2px 2px 5px #333;
}

#header .logo img {
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(4px 4px 4px #444);
  filter: drop-shadow(4px 4px 4px #444);
}

#countdown-explainer {
  font-size: 1.4em;
  color: #fff;
}

#countdown-explainer span {
  background: #61D8AE;
  color: #222;
  font-weight: bold;
  text-shadow: none;
  padding: 2px 12px 1px 12px;
  border-radius: 1px;
  letter-spacing: 2px;
}
#countdown-explainer span:after {
  content: '\A';
  white-space: pre;
}

.participate {
  text-shadow: none;
  margin: 40px 0 20px 0;
}


.alert button {
  display: none !important;
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

.progress {
  height: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: bold;
}

.progress-bar {
  background-color: #6d4f8b;
}

#softCapBar {
  background-color: #af6483;
}
#maxCapBar {
  background-color: #7f5489;
}
#mvmBar {
  background-color: #6d4f8b;
}

.statistics {
  margin-bottom: 20px;
}

.progress {
  margin-bottom: 40px;
}

#faq {
  font-size: 1.2em;
}

#faq dt {
  font-weight: bold;
}
#faq dd {
  margin-bottom: 1em;
}

.checkstats-link {

  color: #fff;
  margin-top: 40px;
}

.checkstats {
  background-color: #F2AF29 !important;
  box-shadow: none !important;
  text-shadow: none;
  color: #fff !important;
 }

.checkstats:hover {
  background-color: #DD7230 !important;
}

.topstat {
  margin-bottom: 0px;
}

.ethstat {
    background-color: #5FAD56;
    border-radius: 8px;
    margin-bottom: 20px;
}

.ethdetails, .lifdetails, .mvmdetails {
    display: none;

}

.rounded-bottom-left {
    border-bottom-left-radius: 8px !important;
}

.rounded-top-right {
    border-top-right-radius: 8px !important;
}

.lifstat {
    background-color: #7f5489;
    border-radius: 8px;
    margin-bottom: 20px;
}

.liftotal, .mvmtotal {
  margin-bottom: 0;
}

.lifstatitem, .mvmstatitem {
  padding-top: 40px;

}

.mvmstat {
  background-color: #F2B880;
  border-radius: 8px;
  margin-bottom: 20px;
}

@media screen and (max-width: 736px) {
    .lifstatitem, .mvmstatitem {
        padding-top: 20px;
    }
    .lifstatbottom,.mvmstatbottom {
        padding-top: 0px !important;
        padding-bottom: 20px;
    }
}

.smallicon:before {
  font-size: 18px !important;
}