#header {
  text-shadow: 1px 1px 2px #333;
}

#header h1 {
  text-shadow: 2px 2px 5px #333;
}

#header .logo img {
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(4px 4px 4px #444);
  filter: drop-shadow(4px 4px 4px #444);
}

#countdown-explainer {
  font-size: 1.4em;
  color: #fff;
}
#countdown-explainer div {
  display: none;
}
#countdown-explainer div:first-of-type {
  display: block;
  visibility: hidden;
}
#countdown-explainer.starts div,
#countdown-explainer.changes div,
#countdown-explainer.ends div,
#countdown-explainer.unfreeze div {
  display: none;
  visibility: visible;
}
#countdown-explainer.starts .starts,
#countdown-explainer.changes .changes,
#countdown-explainer.ends .ends,
#countdown-explainer.unfreeze .unfreeze {
  display: block;
}

#countdown-explainer span {
  background: #61D8AE;
  color: #222;
  font-weight: bold;
  text-shadow: none;
  padding: 2px 12px 1px 12px;
  border-radius: 1px;
  letter-spacing: 2px;
}
#countdown-explainer span:after {
  content: '\A';
  white-space: pre;
}

.participate {
  text-shadow: none;
  margin: 40px 0 20px 0;
}

.participate a {
  color: #000 !important;
}

.alert button {
  display: none !important;
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

.progress {
  height: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: bold;
}

.progress-bar {
  background-color: #6d4f8b;
}

#softCapBar {
  background-color: #af6483;
}
#maxCapBar {
  background-color: #7f5489;
}
#mvmBar {
  background-color: #6d4f8b;
}

.statistics {
  margin-bottom: 20px;
}

.progress {
  margin-bottom: 40px;
}

#faq {
  font-size: 1.2em;
}

#faq dt {
  font-weight: bold;
}
#faq dd {
  margin-bottom: 1em;
}
