html {
  background-color: #0a0b32;
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  background-color: #0a0b32;
  background-image: url(/static/img/wt-coins-bg.png);
  background-repeat: repeat-x;
  background-position: center 80px;
  color: #fff;
  font-weight: 300;
  min-height: 100%;
}

.home-link {
  color: #fff !important;
  text-decoration: underline;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  height: 50px;
}

.navbar {
  font-size: 20px;
}

hr { background-color: white; height: 1px; border: 0; }

#verify-profile {
  display: none;
}
.container {
  margin-top: 20px;
}

.navbar-text {
  margin-right: 10px;
}

.responsive-form {
  width: 70%;
}

.form-check {
  margin-top: 20px;
}

#submit-profile {
  margin-top: 20px;
}

#verify-profile {
  margin-top: 20px;
}

#countdown {
  font-size: 50px;
}

#countdown-rate {
  font-size: 30px;
}

#knowMore {
  margin: auto;
}

.jumbotron {
  color: black;
  padding: 20px 20px;
  text-overflow: ellipsis;
  max-width: 95%;
  margin: 10px auto;
}

.home-box {
  min-width: 85%;
}

.height100 {
  height: 100%;
}

.hidden {
  display: none;
}

.countdown-section {
  display: none;
}

.progress {
  height: 30px;
  border-radius: 15px;
  font-weight: 300;
  font-size: 16px;
  background-color: #cecece;
}

.nm {
  margin: 0;
}
#alert-countdown {
  max-width: 90%;
}
@media (max-width : 990px) {
  #countdown {
    font-size: 40px;
  }
  #countdown-rate {
    font-size: 25px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 16px;
  }
}

@media (max-width : 770px) {
  #countdown {
    font-size: 40px;
  }
  #countdown-rate {
    font-size: 25px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 14px;
  }
}

@media (max-width : 320px) {
  h4 {
    font-size: 14px;
  }
}
