html {
    background: #f3f6f8;
    background: linear-gradient(to bottom, #F3F6F9 0%, #fff 750px);
    background-attachment: fixed;
    min-height: 100%;
}

body {
    background: none;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

.container {
    margin-top: 20px;
}

.navbar-text {
    margin-right: 10px;
}


/* Large desktop */
@media (min-width: 1200px) {
  .responsive-form {
    width: 800px;
    margin: auto;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .responsive-form {
    width: 800px;
    margin: auto;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .responsive-form {
    width: 700px;
    margin: auto;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .responsive-form {
    width: 480px;
    margin: auto;
  }
}
