{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/wt.css' %}">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
          integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
          crossorigin="anonymous"></script>
  {% block extra_head %}{% endblock %}
</head>

<style>

  html {
    background: #f3f6f8;
    background: linear-gradient(to bottom, #F3F6F9 0%,#fff 750px);
    background-attachment: fixed;
    min-height: 100%;
  }

  body {
    background: none;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
  }

  .container {
    margin-top: 20px;
  }

</style>

<body>

  {% block navbar %}
    {% include 'accounts/navbar.html' %}
  {% endblock %}

  <main role="main" class="container">

    {% bootstrap_messages %}

    {% block content %}
    {% endblock %}
  </main>

  {% block javascript_inline_bottom %}
  {% endblock %}
  </body>
</html>
