{% extends 'base.html' %}

{% block content %}

  <h1>Total: {{ total_eth|floatformat:"-3" }}ETH ({{ total|stringformat:"E" }})</h1>

  {% if request.user.is_staff %}
  <!--
    <form action="" method="post">{% csrf_token %}
      <button type="submit" class="btn btn-primary">Save values to Profiles</button>
    </form>
  -->
  {% endif %}

  <dl>
    <dt>number of successful tx (all tx)</dt><dd>{{ transactions|length }} ({{ all_transactions|length }})</dd>
    <dt>number of tx from unique contributors</dt><dd>{{ unique_contributions|length }}</dd>
    <dt>value of contributions</dt><dd>{{ unique_contributions_sum|floatformat:"-3" }}ETH</dd>
    <dt>number of registered contributions</dt><dd>{{ registered_contributions|length }}</dd>
    <dt>value of registered contributions</dt><dd>{{ registered_contributions_sum|floatformat:"-3" }}ETH</dd>
    <dt>number of non registered contributions</dt><dd>{{ non_registered_contributions|length }}</dd>
    <dt>value of non registered contributions</dt><dd>{{ non_registered_contributions_sum|floatformat:"-3" }}ETH</dd>
    <dt>number of users</dt><dd>{{ users|length }}</dd>
  </dl>

  <h2 id="top-contributors">top contributors</h2>
  <ol>
    {% for address, value_eth, value in unique_contributions_sorted|slice:':100' %}
      <li><a href="https://etherscan.io/address/{{ address }}">{{ address }}</a>: {{ value_eth|floatformat:"-3" }}ETH</li>
    {% endfor %}
  </ol>

  <h2 id="top-registered-contributors">top registered contributors</h2>
  <ol>
    {% for address, value_eth, value in sum_for_accounts_sorted|slice:':100' %}
      <li><a href="https://etherscan.io/address/{{ address }}">{{ address }}</a>: {{ value_eth|floatformat:"-3" }}ETH</li>
    {% endfor %}
  </ol>

  <h2 id="non-registered-contributors">all non registered contributors</h2>
  <ol>
    {% for address, value_eth, value in non_registered_contributions_sorted %}
      <li><a href="https://etherscan.io/address/{{ address }}">{{ address }}</a>: {{ value_eth|floatformat:"-3" }}ETH</li>
    {% endfor %}
  </ol>

{% endblock %}
