{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
<header id="header">
  <a href="/" style="border: none;"><span class="logo"><img src="{% static 'img/lif.svg' %}" alt=""></span></a>
  <h1>Líf Token Sale FAQ</h1>
</header>
{% endblock %}

{% block content %}
<div id="main">
  <section class="main">
    <dl id="faq">
      <dt>What is the address I should send my contribution to?</dt>
      <dd>The address will be revealed to you once you complete a basic <a href="{% url 'register' %}">registration process</a>. All we can say is it ends with <code>...4DaF</code>.</dd>
      <dt>A member of Winding Tree team reached out to me personally via Telegram/Email/Other Channel, claiming that they have a better, faster and more secure server just for me. They also promised me a huge bonus. It sounds very compelling!</dt>
      <dd><strong style="color: red;">DO NOT SEND ETH TO ADDRESSES SOMEONE SHARES WITH YOU DIRECTLY. PEOPLE WHO DM YOU SAYING THEY ARE ADMINS ARE SCAMMING YOU. ONLY FOLLOW OFFICIAL REGISTRATION PROCESS VIA <a href="/">lif.windingtree.com</a>.</strong></dd>
      <dt>Can I send ETH from an exchange?</dt>
      <dd><strong style="color: red;">No, you risk to lose your money!</strong> You should only send ETH to the ICO smart contract from a wallet that can receive ERC20 tokens, like MyEtherWallet.</dd>
      <dt>I ignored your guide and didn't read <a href="{% static 'token_sale_terms_conditions.pdf' %}">Terms and Conditions</a> and sent money from an exchange. What now?</dt>
      <dd>We are sorry. The only way to receive your ETH back is to invalidate your KYC by editing your profile and providing a fake ETH address that wouldn't match any transactions we've received, e.g. <code>0x000000000000000000000000000000000000dead</code>. In this case your contribution will be sent to the address it originated from.</dd>
      <dt>The exchange I sent ETH from doesn't reuse ETH addresses!</dt>
      <dd>We are sorry, but your tokens are now lost.</dd>
      <dt>I used 100,000 gas, but the transaction got rejected</dt>
      <dd>Please try higher gas amount, perhaps up to 500,000</dd>
      <dt>My transaction is not confirming for hours</dt>
      <dd>The gas price you used (was it 1 Gwei?) was not enough for a faster confirmation. Please wait. It will either confirm or cancel. Allow for up to 30 minutes. Please consult <a href="https://ethgasstation.info/">ETH Gas Station</a> for recommended gas price values.</dd>
      <dt>Is there a minimum for contribution? A maximum?</dt>
      <dd>There is no minimum, but if you send over 15ETH you will have to take an additional step confirming your identity.</dd>
      <dt>I've contrubited in the presale in November, I sent ETH from an ERC20-compatible wallet. How do i claim my tokens?</dt>
      <dd>There is nothing you need to do. The tokens will appear in your wallet automatically.</dd>
      <dt>Do i have to add custom token to MEW?</dt>
      <dd>We're working with MEW to support Líf natively. In the meantime, you can add a custom token with these parameters. Contract address: <code>0xEB9951021698B42e4399f9cBb6267Aa35F82D59D</code> (also available via <code>token.windingtree.eth</code> or <code>lif.windingtree.eth</code>), symbol: <code>LIF</code>, decimals: <code>18</code>.</dd>
      <dt>How can I check my token balance?</dt>
      <dd>We recommend using <a href="https://etherscan.io/">etherscan.io</a> or <a href="https://ethplorer.io/">ethplorer.io</a>.</dd>
      <dt>My token balance on the <a href="https://lif.windingtree.com/ico/profile/">contribution status</a> page is "0", while the transaction was definitely confirmed.</dt>
      <dd>Have you entered the wallet address you sent ETH from? It should match! If they do, check Etherscan and Ethplorer, if tokens are in your wallet, you have nothing to worry about. Perhaps one of your browser extensions is interfering.</dd>
      <dt>I've sent more than 15ETH and I already have tokens. And I didn't have to go through any KYC nonsense. You fools, muahahaha!</dt>
      <dd>We will refund ETH and burn LIF for all transactions that we don't have the appropriate level of KYC check for.</dd>
    </dl>
  </section>

  <script type="text/javascript">
    var dts = document.querySelectorAll('#faq dt');
    var link, icon;

    for (var i = 0; i < dts.length; i++) {
      var id = 'faq-' + i;

      // ID
      dts[i].setAttribute('id', id);

      // Link
      link = document.createElement('a');
      icon = document.createElement('a');
      icon.setAttribute('class', 'icon fa-link');
      link.appendChild(icon);
      link.setAttribute('href', '#' + id);
      link.setAttribute('title', 'Link to this Question');

      // Insert
      dts[i].innerText = dts[i].innerText + ' ';
      dts[i].appendChild(link);
    }
  </script>
</div>
{% endblock %}
