{% extends 'base.html' %}
{% load bootstrap4 %}

{% block navbar %}
  {% include 'navbar.html' with active_item='login' %}
{% endblock %}

{% block content %}
<div class="row justify-content-around">
  <div class="col-lg-9 col-sm-12">
    <div class="jumbotron">
      <h2 class="text-center">Login to your Winding Tree account</h2>
      <p class="text-center">
        Contribute to Winding Tree ICO, check your transaction status and <br>
        complete your KYC if contributing 10 or more ETH.
      </p>

      <form action="." method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="row justify-content-around">
        {% buttons %}
          <button type="submit" class="btn btn-lg btn-primary">Login</button>
        {% endbuttons %}
      </div>
      <hr>
      <p>Don't have an account yet? <strong><a href="{% url 'register' %}">Register</a></strong></p>
    </form>
    </div>
  </div>
</div>


{% endblock %}
