{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block navbar %}
<header id="header">
  <a href="/" style="border: none;"><span class="logo"><img src="{% static 'img/lif.svg' %}" alt=""></span></a>
  <h1>Log In</h1>
  <p>Don't have an account yet? <strong><a href="{% url 'register' %}">Register</a></strong></p>
</header>
{% endblock %}

{% block content %}
<div id="main">
  <section id="status" class="main">
    <header class="major">
      <h2>Log In to your Winding Tree account</h2>
      <p>Contribute to Winding Tree ICO, check your transaction status and complete your KYC if contributing 15 or more ETH.</p>
    </header>
  </section>

  <form action="." method="post" class="form">
    {% csrf_token %}
    <div class="row uniform">
      <div class="6u 12u$(xsmall)">
         {% bootstrap_field form.email %}
      </div>
    </div>

    <div>
      {% buttons %}
        <button type="submit" class="btn btn-lg btn-primary">Login</button>
      {% endbuttons %}
    </div>
  </form>

</div>
{% endblock %}
