{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
  {% include 'navbar.html' with active_item='profile' %}
{% endblock %}


{% block content %}
  <div class="row justify-content-md-center">
    {% if request.user.eth_address and not request.user.is_verified %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Your profile is not verified, you can't invest more than 10 ETH.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    <div class="col col-lg-10 jumbotron">
    {% if request.user.eth_address %}
      <h4>ICO address: <strong id="icoAddress">0x175A349186f228e7758ccE1c1bA125e0D0514df4</strong></h4>
      <h4>Your address: <span id="userAddress">{{ request.user.eth_address }}</span></h4>
      <h4>Total ETH Sent: <strong id="totalETHSent">0</strong></h4>
      <h4>Your Lif balance: <strong id="totalLifBalance">0</strong></h4>
    {% endif %}
    {% if not request.user.eth_address %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Your profile is not complete, you need to complete your profile to contribute up to 10 ETH.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    </div>
  </div>

  {% if verify_form %}
    {% bootstrap_form verify_form %}
  {% endif %}

  <form action="." method="post" class="form responsive-form jumbotron">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="termsAndConditions">
      <label class="form-check-label" for="termsAndConditions">
        I accept the <a href="{% static 'Token Sale T&Cs.pdf' %}"> Terms and Conditions</a>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="usResident">
      <label class="form-check-label" for="usResident">
        I am not a US resident
      </label>
    </div>
    {% buttons %}
      <button id="submit-profile" type="submit" class="btn btn-primary">Save (Maximun contribution 10 ETH)</button>
      <button id="verify-profile" type="submit" name="verify"
              class="btn btn-info hidden">
              Verify for +10 ETH contribution
      </button>
    {% endbuttons %}
  </form>
{% endblock %}
