{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block extra_head %}
{#  https://developers.google.com/recaptcha/docs/display#}
  <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block navbar %}
  {% include 'navbar.html' with active_item='register' %}
{% endblock %}


{% block content %}

  <div class="row justify-content-around">
    <div class="col-lg-9 col-sm-12">
      <form action="." method="post" class="form jumbotron">
        {% csrf_token %}

        {% bootstrap_form form exclude='g_recaptcha_response' %}
        <div class="row justify-content-around">
          <div class="g-recaptcha" data-sitekey="{{ form.recaptcha_site_key }}"></div>
        </div>

        <br>
        <ul>
            <li>Due to US regulations we wont be accepting contribution from US residents and this measure will be enforced by geofencing the sale details</li>
            <li>By registering to contribute I certify that I am not a US resident and I agree with
                Winding Tree ICO <a href="{% static 'token_sale_terms_conditions.pdf' %}">Terms and Conditions</a></li>
        </ul>
        <div class="row justify-content-around">
          {% buttons %}
            <button type="submit" class="btn btn-lg btn-primary">Register</button>
          {% endbuttons %}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
