{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
<header id="header">
  <a href="/" style="border: none;"><span class="logo"><img src="{% static 'img/lif.svg' %}" alt=""></span></a>
</header>
{% endblock %}


{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-10 col-sm-12">

    {% if request.user.eth_address %}
    <div class="row justify-content-center">
      <div class="jumbotron">
        <h4>ICO address: <strong id="icoAddress">0x9df3a24d738ae98dea766cd89c3aef16583a4daf</strong></h4>
        <h4>Your address: <span id="userAddress">{{ request.user.eth_address }}</span></h4>
        <h4>Total ETH Sent: <strong id="totalETHSent">0</strong></h4>
        <h4>Your Lif balance: <strong id="totalLifBalance">0</strong></h4>
      </div>
    {% endif %}

    <div class="row justify-content-md-center jumbotron">
      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        <button id="verify-profile" type="submit" name="verify"
                class="btn btn-lg btn-info hidden">
          Verify for +15 ETH contribution
        </button>
      </form>
    </div>

    </div>
  </div>
</div>
{% endblock %}
