{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
  {% include 'navbar.html' with active_item='profile' %}
{% endblock %}


{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-10 col-sm-12">

    {% if request.user.eth_address %}
    <div class="row justify-content-center">
      <div class="jumbotron">
        <h4>ICO address: <strong id="icoAddress">0x9df3a24d738ae98dea766cd89c3aef16583a4daf</strong></h4>
        <h4>Your address: <span id="userAddress">{{ request.user.eth_address }}</span></h4>
        <h4>Total ETH Sent: <strong id="totalETHSent">0</strong></h4>
        <h4>Your Lif balance: <strong id="totalLifBalance">0</strong></h4>
      </div>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
