{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">

  <link rel="stylesheet" href="{% static 'libs/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/wt.css' %}">

  <script src="{% static 'libs/jquery.min.js' %}"></script>
  <script src="{% static 'libs/popper.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block extra_head %}{% endblock %}
</head>

<body>

  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock %}

  <main role="main" class="container">

    {% bootstrap_messages %}

    {% block content %}
    {% endblock %}
  </main>

  {% block javascript_inline_bottom %}
  {% endblock %}
  </body>
</html>
