{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="Maksim Izmaylov">

  <title>Winding Tree &mdash; Líf Token Generation Event</title>
  <meta name="description" content="Winding Tree, Líf Token Generation Event">
  <meta name=viewport content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui">
  <meta http-equiv=x-ua-compatible content="ie=edge">

  <link rel="apple-touch-icon" sizes="57x57" href="//windingtree.com/images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="//windingtree.com/images/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="//windingtree.com/images/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="//windingtree.com/images/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="//windingtree.com/images/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="//windingtree.com/images/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="//windingtree.com/images/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="//windingtree.com/images/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="//windingtree.com/images/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="//windingtree.com/images/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//windingtree.com/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="//windingtree.com/images/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//windingtree.com/images/icons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//windingtree.com/images/icons/favicon.png" />

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="//windingtree.com/images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/stellar.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'css/ie9.css' %}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'css/ie8.css' %}" /><![endif]-->

  <script type="text/javascript">
    var userAddress = "{{request.user.eth_address}}";
    var verifiedUser = "{{request.user.is_verified}}";
  </script>

  {% block extra_head %}{% endblock %}
</head>

<body>

  {% block navbar %}{% endblock %}

  <div id="wrapper">

    {% block content %}{% endblock %}

    <footer id="footer">
      <section>
        <h2>About Winding Tree</h2>
        <p>Winding Tree is a blockchain-based decentralized <a href="https://github.com/windingtree/">open-source</a> travel distribution platform. We make travel cheaper for the end user, while making it more profitable for suppliers.</p>
        <ul class="actions">
          <li><a href="https://windingtree.com" class="button">Learn More</a></li>
        </ul>
      </section>
      <section>
        <h2>Winding Tree Limited</h2>
        <p>Suite 23 Portland House, Glacis Road<br>Gibraltar GX11 1AA</p>
        <ul class="icons">
          <li><a href="https://github.com/windingtree/" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
          <li><a href="https://twitter.com/windingtree" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
          <li><a href="http://demo.windingtree.com/" class="icon fa-link alt"><span class="label">Demo App</span></a></li>
        </ul>
      </section>
      <p class="copyright">© Winding Tree</p>
    </footer>

  </div>

  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>

  {% block javascript_inline_bottom %}{% endblock %}
  </body>
</html>
