{% extends 'base.html' %}
{% load static %}

{% block javascript_inline_bottom %}
<script src="{% static 'js/countdown.js' %}"></script>
{% endblock %}

{% block content %}

  <header id="header" class="alt">
    <span class="logo"><img src="{% static 'img/lif.svg' %}" alt=""></span>
    <h1>Líf</h1>
    <h2>Winding Tree Token Generation Event</h2>

    <h1 id="countdown">00d : 00h : 00m : 00s</h1>
    <div id="countdown-explainer">
      <div class="starts">
        <span>Until TGE Start</span>
        08:00 on February 1 (UTC)
      </div>
      <div class="changes">
        <span>Until Price Increase 1ETH = 900LIF</span>
        08:00 on February 7 (UTC)
      </div>
      <div class="ends">
        <span>Until TGE End</span>
        23:59 on February 14 (UTC)
      </div>
    </div>

    <div class="participate">
      {% if request.user.is_authenticated %}
        <a href="{% url 'profile' %}" class="button special">My Profile</a>
      {% else %}
        <a href="{% url 'login_form' %}" class="button special">Participate</a>
      {% endif %}
    </div>
  </header>


  <div id="main">

  <!-- Introduction -->
    <section id="intro" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>Ipsum sed adipiscing</h2>
          </header>
          <p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
          adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
          Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
          <ul class="actions">
            <li><a href="generic.html" class="button">Learn More</a></li>
          </ul>
        </div>
        <span class="image"><img src="images/pic01.jpg" alt="" /></span>
      </div>
    </section>

  <!-- First Section -->
    <section id="first" class="main special">
      <header class="major">
        <h2>Magna veroeros</h2>
      </header>
      <ul class="features">
        <li>
          <span class="icon major style1 fa-code"></span>
          <h3>Ipsum consequat</h3>
          <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
        <li>
          <span class="icon major style3 fa-copy"></span>
          <h3>Amed sed feugiat</h3>
          <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
        <li>
          <span class="icon major style5 fa-diamond"></span>
          <h3>Dolor nullam</h3>
          <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
      </ul>
      <footer class="major">
        <ul class="actions">
          <li><a href="generic.html" class="button">Learn More</a></li>
        </ul>
      </footer>
    </section>

  <!-- Second Section -->
    <section id="second" class="main special">
      <header class="major">
        <h2>Ipsum consequat</h2>
        <p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
        posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
      </header>
      <ul class="statistics">
        <li class="style1">
          <span class="icon fa-code-fork"></span>
          <strong>5,120</strong> Etiam
        </li>
        <li class="style2">
          <span class="icon fa-folder-open-o"></span>
          <strong>8,192</strong> Magna
        </li>
        <li class="style3">
          <span class="icon fa-signal"></span>
          <strong>2,048</strong> Tempus
        </li>
        <li class="style4">
          <span class="icon fa-laptop"></span>
          <strong>4,096</strong> Aliquam
        </li>
        <li class="style5">
          <span class="icon fa-diamond"></span>
          <strong>1,024</strong> Nullam
        </li>
      </ul>
      <p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
      <footer class="major">
        <ul class="actions">
          <li><a href="generic.html" class="button">Learn More</a></li>
        </ul>
      </footer>
    </section>

  <!-- Get Started -->
    <section id="cta" class="main special">
      <header class="major">
        <h2>Congue imperdiet</h2>
        <p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
        posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
      </header>
      <footer class="major">
        <ul class="actions">
          <li><a href="generic.html" class="button special">Get Started</a></li>
          <li><a href="generic.html" class="button">Learn More</a></li>
        </ul>
      </footer>
    </section>

  </div>


  <div class="jumbotron">
    <br>
    <div class="row justify-content-around">
      <strong id="softCap">0.1 ETH Soft Cap</strong> |
      <strong id="ethRaised">0 ETH Raised</strong> |
      <strong id="totalLif">0 Lif Tokens</strong>
    </div>
    <br>
    <div class="progress">
      <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
        0 ETH Raised
      </div>
    </div>
  </div>

  <div class="jumbotron" id="instructions">
    <h3>Want to contribute? follow this steps:</h3>
    <ol>
      <li>Register an account - <strong><a href="{% url 'register' %}">Register</a></strong></li>
      <li>Click the link you receive in your mailbox to login.</li>
      <li>Complete your profile &amp; provide the ETH wallet address from which you’ll be contributing.</li>
      <li>Send your contribution to the Winding Tree ICO address that will be displayed for you.</li>
      <li>On the same page you’ll be prompted to complete a quick ID verification if your contribution is 10 or more ETH.</li>
    </ol>
    <h4><a href="https://blog.windingtree.com/how-to-participate-in-winding-tree-ico-l%C3%ADf-token-on-feb-1-2018-fa7299d5a673">How to participate guide</a></h4>
    <h4>For question we are in <a href="https://t.me/windingtree">Telegram</a></h4>
  </div>

  <div class="jumbotron text-center">
    <h3>Want to know more?</h3>
    <h4 class="row justify-content-around">
      <div><img src="{% static 'img/wt-social-website.svg' %}" height="20" alt="windingtree website"> <a href="https://windingtree.com/">Website</a></div>
      <div><img src="{% static 'img/wt-social-website.svg' %}" height="20" alt="windingtree demo app"> <a href="http://demo.windingtree.com">WT Demo App</a></div>
      <div><img src="{% static 'img/wt-social-github.svg' %}" height="20" alt="windingtree github profile"> <a href="https://github.com/windingtree/">Github</a></div>
      <div><img src="{% static 'img/wt-social-twitter.svg' %}" height="20" alt="windingtree twitter account"> <a href="https://twitter.com/windingtree">Twitter</a></div>
    </h4>
  </div>
{% endblock %}
