{% extends 'base.html' %}
{% load static %}

{% block javascript_inline_bottom %}
<script src="{% static 'js/countdown.js' %}"></script>
{% endblock %}

{% block content %}
  <header id="header" class="alt">
    <a href="/" style="border: none;"><span class="logo"><img src="{% static 'img/lif.svg' %}" alt=""></span></a>
    <h1>Líf Token Sale Was Successful</h1>
    <h2>Thank You For Making This Happen!</h2>

    <h1 id="countdown">00d : 00h : 00m : 00s</h1>
    <div id="countdown-explainer">
      <div class="unfreeze">
        <span>Until Token Unfreeze</span>
        23:59 on February 23 (UTC)
      </div>
      <div>NO MORE DELAYS!</div>
    </div>


    <div style="margin: 20px; font-size: 1.4em;">
      <p><strong style="color: #f99;">DUE TO SOME TRANSACTIONS STILL NOT VERIFIED, WE NEED MORE TIME TO FINISH THE KYC PROCESS.</strong></p>

      <p><strong style="color: #f99;">ATTENTION PARTICIPANTS WHO HAVE CONTRIBUTED BUT HAVEN'T REGISTERED AN ACCOUNT AND HAVEN’T FINISHED THE KYC PROCESS: YOUR ETH WILL BE REFUNDED AND LIF BURNED. TO AVOID THAT PLEASE EMAIL US AT <a href="mailto:marina@windingtree.com">marina@windingtree.com</a> WITH THE ADDRESS FROM WHICH YOU CONTRIBUTED & TX HASH SO THAT WE CAN MANUALLY VERIFY YOUR TRANSACTION.</strong></p>

      <p><strong style="color: #f99;">ATTENTION PARTICIPANTS WHO HAVE CONTRIBUTED, REGISTERED AN ACCOUNT, BUT HAVEN’T ENTERED THE ADDRESS FROM WHICH YOU CONTRIBUTED INTO YOUR ICO PROFILE: PLEASE <a href="https://lif.windingtree.com/ico/login/">LOG IN AND ENTER THAT ADDRESS TO AVOID LOSING YOUR LIF</a>.</strong></p>
    </div>
    <div><strong><a href="{% url 'faq' %}" style="color: #fff !important;">FAQ</a></strong></div>

    <div class="participate">
      {% if request.user.is_authenticated %}
        {% if request.user.eth_address %}
          <a href="{% url 'status' %}" class="button special">My Contribution Status</a>
        {% else %}
          <a href="{% url 'profile' %}" class="button special">My Profile</a>
        {% endif %}
      {% else %}
        <a href="{% url 'login_form' %}" class="button special">Log In</a>
      {% endif %}
    </div>
  </header>

  <nav id="nav">
    <ul>
      <li><a href="#stats" class="active">Stats</a></li>
      <li><a href="#what-next">What's Next?</a></li>
    </ul>
  </nav>

  <div id="main">
    <section id="stats" class="main special">
      <header class="major">
        <h2>Token Generation Event Stats</h2>
      </header>
      <ul class="statistics">
        <li class="style4">
          <span class="icon fa-leaf"></span>
          <strong>26,736,145.941</strong> Lífs Generated (<a href="{% url 'faq' %}#faq-13">why?</a>)
        </li>
        <li class="style6">
          <span class="icon fa-dollar"></span>
          <strong>15,238.562</strong> ETH Raised
        </li>
        <li class="style5">
          <span class="icon fa-signal"></span>
          <strong>5238</strong> ETH <a href="https://blog.windingtree.com/market-validation-mechanism-in-a-nutshell-ddba1d92be89">In the MVM</a> (<a href="{% url 'faq' %}#faq-15">why?</a>)
        </li>
      </ul>
      <ul class="statistics">
        <li class="style1">
          <span class="icon fa-users"></span>
          <strong>7,000</strong> Backers
        </li>
        <li class="style2">
          <span class="icon fa-building"></span>
          <strong>10</strong> Corporate Partners
        </li>
        <li class="style3">
          <span class="icon fa-wrench"></span>
          <strong>1</strong> Industries Being Fixed
        </li>
      </ul>
    </section>

    <section id="what-next" class="main">
      <header class="major">
        <h2>What Is Next?</h2>
      </header>
      <p>Now we are checking all the contributions for the completness of the data. <strong>If you contributed more than 15 ETH, <a href="{% url 'login_form' %}">please log in to your account</a> and fill out the KYC form.</strong></p>
      <p>When we finish this process, we will refund all the transactions that we don't have any information about and burn the tokens generated for them. After that, we will unfreeze the Líf token smart contract and allow token transfers.</p>
    </section>
  </div>
{% endblock %}
