{% extends 'base.html' %}
{% load static %}

{% block javascript_inline_bottom %}
<script src="{% static 'js/countdown.js' %}"></script>
{% endblock %}

{% block content %}
  <header id="header" class="alt">
    <a href="/" style="border: none;"><span class="logo"><img src="{% static 'img/lif.svg' %}" alt=""></span></a>
    <h1>Líf</h1>
    <h2>Winding Tree Token Sale is Líve</h2>

    <h1 id="countdown">00d : 00h : 00m : 00s</h1>
    <div id="countdown-explainer">
      <div class="starts">
        <span>Until TGE Start</span>
        08:00 on February 1 (UTC)
      </div>
      <div class="changes">
        <span>Until Price Increase 1ETH = 900LIF</span>
        08:00 on February 7 (UTC)
      </div>
      <div class="ends">
        <span>Until TGE End</span>
        23:59 on February 14 (UTC)
      </div>
    </div>

    <div class="participate">
      {% if request.user.is_authenticated %}
        {% if request.user.eth_address %}
          <a href="{% url 'status' %}" class="button special">My Contribution Status</a>
        {% else %}
          <a href="{% url 'profile' %}" class="button special">My Profile</a>
        {% endif %}
      {% else %}
        <a href="{% url 'register' %}" class="button special">Participate</a>
      {% endif %}
    </div>
  </header>

  <nav id="nav">
    <ul>
      <li><a href="#status" class="active">Status</a></li>
      <li><a href="#howto">How To Participate</a></li>
    </ul>
  </nav>

  <div id="main">
    <section id="status" class="main special">
      <header class="major">
        <h2>TGE Status</h2>
      </header>
      <ul class="statistics">
        <li class="style1">
          <span class="icon fa-arrow-up"></span>
          <strong>4,348 ETH</strong> Soft Cap
        </li>
        <li class="style2">
          <span class="icon fa-usd"></span>
          <strong>$1,150</strong> TGE USD/ETH Rate
        </li>
        <li class="style3">
          <span class="icon fa-balance-scale"></span>
          <strong>1,000 </strong> Current LIF/ETH Rate
        </li>
      </ul>
      <ul class="statistics">
        <li class="style4">
          <span class="icon fa-signal"></span>
          <strong id="ethRaised">0</strong> ETH Raised
        </li>
        <li class="style5">
          <span class="icon fa-envira"></span>
          <strong id="totalLif">0</strong> Lífs Generated
        </li>
      </ul>
    </section>

    <section id="howto" class="main">
      <header class="major">
        <h2>How To Participate</h2>
      </header>
      <ol style="font-size: 1.2em;">
        {% if not request.user.is_authenticated %}
          <li><a href="{% url 'register' %}">Register an account</a>.</li>
          <li>Click the link you receive in your mailbox to log in.</li>
        {% else %}
          <li>Go to <a href="{% url 'status' %}">your profile</a>.</li>
        {% endif %}
        <li>Complete your profile &amp; provide the ETH wallet address from which you’ll be contributing.</li>
        <li>Send your contribution to the Winding Tree ICO address that will be displayed for you.</li>
        <li>On the same page you’ll be prompted to complete a quick ID verification if your contribution is 15ETH or more.</li>
      </ol>
      <p style="font-size: 1.3em;"><a href="https://blog.windingtree.com/how-to-participate-in-winding-tree-ico-l%C3%ADf-token-on-feb-1-2018-fa7299d5a673">How to participate guide</a>. If you still have questions after reading the guide, join our <a href="https://t.me/windingtree">Telegram</a>.</p>
    </section>
  </div>
{% endblock %}
